.card_main{

    background: rgba(10, 26, 68, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    border: 1px solid rgba(10, 26, 68, 0.62);
    margin:1vw;
    height: 50vh;
    width: 20vw;
    display: grid;
    grid-template-rows: 70% 30%;
}
.card_top{
    width: 100%;
    height: 100%;
}
.card_top img{

    width: 100%;
    height: 100%;
}   
.cardBack{
    visibility: hidden;
}
.card_main:hover{
    animation:flip ease-in-out 1.5s;
}
.card_main:hover .cardBack{
    visibility: visible;
}
.card_main:hover .cardFront{
    visibility: hidden;
}

@keyframes flip{
    0%{
    transform: rotate3d(0, 1, 0, 0deg);
    }
    50%{ 
    transform: rotate3d(0, 1, 0, 90deg);
    
    }
    100%{
        
    transform: rotate3d(0, 1, 0, 180deg);
    }
}



